:root {
  --primary-color: #F20089;
  --primary-color-alt: #db017d;
  --secondary-color: #2D00F7;
  --secondary-color-alt: #2100b3;
  --main-background-color: #F9F9FE;
  --black-color: #231F20;
  --white-color: #FFFFFF;
  --white-color-alt: #ffffff85;
  --light-gray-color: #F0F0F4;
  --dark-gray-color: #333;
}

* {
  font-family: 'Coolvetica Condensed RG', sans-serif;
  font-weight: 100;
}
